.container{
    background-color: #f53300;
    height: 170px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

h2{
    color: white;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}