.container{
  display: flex;
  flex-direction: column;
}

.header-container {
  position: sticky;
  top: 0px;
  z-index: 3;
}

.carousel-container {
  position: sticky;
  top: 58px;
  z-index: 2;
  display: flex;
  height: 50px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  background-color: #ffffff;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.carousel-item {
  flex: 0 0 auto;
  margin: 5px 10px 0px 10px;
  font-size: 18px;
  font-weight: 500;
  color: #464646;

  &.selected {
    color: #ff0000;
    font-weight: 600;
  }

  .category-marker {
    height: 5px;
    background-color: #ff0000;
    width: 100%;
    position: relative;
    bottom: 0;
    border-radius: 15px;
  } 
}