<div class="container">
  <app-customer-header class="header-container"></app-customer-header>

  <div class="carousel-container" #carouselContainer>
    <div *ngFor="let category of categories" class="carousel-item" [class.selected]="category === visibleCategory"
      (click)="scrollToCategory($event, category)">
      <p>{{ category }}</p>
    </div>
  </div>

  <div class="list-menuItems">
    <ng-container *ngFor="let category of categories">
      <div *ngIf="hasItemsInCategory(category)" class="category-container" id="{{ category }}">
        <div class="category-title">{{ category }}</div>
        <div *ngFor="let menuItem of getMenuItemsByCategory(category)" class="menu-item">
          <p>{{ menuItem.name }}</p>
          <p>{{ menuItem.price }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>