.side-menu {
    background-color: #3B3B3B;
    height: 100vh;
    width: 15vw;
    padding-top: 100px;
}

.links{
    // background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    gap:7px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 28px;
    padding-left: 20px;
    cursor: pointer;
}

a:hover {
    background-color: rgb(53, 53, 53);
    color: white;
}