.home-container {
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 100px;
}

.base{
    background-color: #F53300;
    color: white;
    height: 200px;
    width: 225px;
    border-radius: 15px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 25%);


    h1{
        font-size: 32px;
        font-weight: 600;
    }

    h2{
        font-size: 24px;
        font-weight: 400;
    }
}

.rodizio-btn{
    margin-top: 10vh;
    background-color: #F53300;
    color: white;
    width: 225px;
    height: 55px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 25%);
    border: none;

    h2{
        padding: 15px;
        font-size: 24px;
        font-weight: 400;
    }
}

.carte-btn{
    margin-top: 3vh;
    background-color: #F53300;
    color: white;
    width: 225px;
    height: 55px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 25%);
    border: none;

    h2{
        padding: 15px;
        font-size: 24px;
        font-weight: 400;
    }
}

.rodizio-btn:hover {
    background-color: #E10C27;
    color: white;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 25%);
}

.carte-btn:hover {
    background-color: #E10C27;
    color: white;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 25%);
}