<div class="container">
    <app-staff-sidemenu class="sidemenu"></app-staff-sidemenu>
    <div class="list-menuitems">
        <div class="search-create">
            <mat-form-field class="search-form">
                <mat-label>Procurar</mat-label>
                <input matInput placeholder="Ex. hot roll filadélfia" [(ngModel)]="searchTerm"
                    (input)="ngAfterViewInit()">
            </mat-form-field>

            <button class="create-btn" [routerLink]="['/staff/create-menuitem']" mat-raised-button color="primary">Criar</button>
        </div>

        <table mat-table [dataSource]="menuItems" class="example-table" matSort matSortActive="created"
            matSortDisableClear matSortDirection="desc">

            <ng-container matColumnDef="imageUrl">
                <th mat-header-cell *matHeaderCellDef> Image Url </th>
                <td mat-cell *matCellDef="let row"> <img class="table-item-image" [src]="row.imageUrl" /> </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let row"> {{row.price}} </td>
            </ng-container>

            <ng-container matColumnDef="categoryName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CategoryName </th>
                <td mat-cell *matCellDef="let row"> {{row.categoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="ingredientsName">
                <th mat-header-cell *matHeaderCellDef> IngredientsName </th>
                <td mat-cell *matCellDef="let row"> {{row.ingredientsName}} </td>
            </ng-container>

            <ng-container matColumnDef="isRodizioItem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> IsRodizioItem </th>
                <td mat-cell *matCellDef="let row"> {{row.isRodizioItem}} </td>
            </ng-container>

            <ng-container matColumnDef="isAvailable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> IsAvailable </th>
                <td mat-cell *matCellDef="let row"> {{row.isAvailable}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                <td mat-cell *matCellDef="let row">
                    <div class="edit-icon" (click)="editMenuItem(row)"><img src="../../../assets/images/edit-icon.svg">
                    </div>
                </td>
            </ng-container>

            <tr class="mat-row" *matNoDataRow>
                <td class="error-Message" colspan="9">
                    {{errorMessage}}</td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>

        <div class="modal" *ngIf="isEditModalOpen">
            <div class="modal-content">
                <div class="close-edit" (click)="closeEditModal()">
                    <img src="../../../assets/images/close-menu-icon.svg">
                </div>

                <mat-form-field>
                    <mat-label>Nome:</mat-label>
                    <input *ngIf="selectedMenuItem" matInput [(ngModel)]="selectedMenuItem.name"
                        (focus)="clearMessages()">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Descrição:</mat-label>
                    <input *ngIf="selectedMenuItem" matInput [(ngModel)]="selectedMenuItem.description"
                        (focus)="clearMessages()" maxlength="500">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Preço:</mat-label>
                    <input *ngIf="selectedMenuItem" matInput [(ngModel)]="selectedMenuItem.price"
                        (focus)="clearMessages()" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}">
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="imageUrl">Foto:</mat-label>
                    <input *ngIf="selectedMenuItem" matInput [(ngModel)]="selectedMenuItem.imageUrl"
                        (focus)="clearMessages()">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Ingredientes:</mat-label>
                    <mat-select *ngIf="selectedMenuItem" [(ngModel)]="selectedMenuItem.ingredientsName" multiple
                        (focus)="clearMessages()">
                        <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient.name">
                            {{ingredient.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="edit-item-category">
                    <mat-label>Categoria:</mat-label>
                    <mat-select *ngIf="selectedMenuItem" [(ngModel)]="selectedMenuItem.categoryName"
                        (focus)="clearMessages()">
                        <mat-option *ngFor="let category of categories" [value]="category.name">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Disponível:</mat-label>
                    <mat-select *ngIf="selectedMenuItem" [(ngModel)]="selectedMenuItem.isAvailable"
                        (focus)="clearMessages()">
                        <mat-option [value]="true">Sim</mat-option>
                        <mat-option [value]="false">Não</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Item de Rodízio:</mat-label>
                    <mat-select *ngIf="selectedMenuItem" [(ngModel)]="selectedMenuItem.isRodizioItem"
                        (focus)="clearMessages()">
                        <mat-option [value]="true">Sim</mat-option>
                        <mat-option [value]="false">Não</mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>

                <div *ngIf="updatedMenuItemMessage" class="updated-message">
                    {{ updatedMenuItemMessage }}
                </div>

                <button class="save-btn" (click)="saveChanges(selectedMenuItem)" *ngIf="selectedMenuItem">Salvar</button>
            </div>
        </div>
    </div>
</div>