form{
    display: flex;
    flex-direction: column;
}

mat-form-field{
    width: 20vw;
}

h1{
    color: white;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
}

.error-message {
    font-size: 18px;
    color: white;
    word-break: break-all;
    margin-bottom: 5px;
}